@tailwind base;
@tailwind components;
@tailwind utilities;


.section {
    @apply py-24 md:py-32 lg:py-40;
}

.line {
    @apply overflow-hidden;
}

.word {
    @apply translate-y-full;
}

@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    display: flex;
    animation: marquee 20s linear infinite;
    white-space: nowrap;
  }
  